* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #ee2229;
    background-attachment: fixed;
    background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
    font-family: "Source Sans Pro", Arial, sans-serif;
}

header {
    width: 100%;
    height: 5.6rem;
    position: fixed;
    z-index: 10;
}

header button {
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    background: transparent;
    color: white;
    position: fixed;
    z-index: 10;
    outline: none;
}

.fa-bars,
.fa-times {
    font-size: 3rem;
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
}

.site-menu {
    position: fixed;
    z-index: 8;
    width: 100%;
    background: #bb2229;
    opacity: 0.9;
    transform: translateY(-100%);
    transition: 0.3s transform ease-in-out;
}

.slide-down {
    transform: translateY(0%);
}

.site-menu ul {
    padding-top: 5.6rem;
    list-style-type: none;
    display: flex;
    height: 100vh;
    flex-flow: column;
    width: 100%;
}

.site-menu li {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
}

.site-menu a {
    text-decoration: none;
    color: white;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main section .arrow {
    width: 4.8rem;
    height: 4.8rem;
    border: 0.2rem solid white;
    position: absolute;
    bottom: 3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0px -1.2rem, 0px -2.4rem;
    overflow: hidden;
    color: white;
}

main section:first-child .arrow {
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

main section:nth-child(2n) .arrow {
    color: #ee2229;
    border-color: #ee2229;
}

.fa-angle-down {
    -webkit-animation: arrowDown 1.8s infinite linear;
    animation: arrowDown 1.8s infinite linear;
}

main > section {
    background: white;
    height: 100vh;
    position: relative;
}

main section:nth-child(2n) {
    -webkit-box-shadow: 0px -0.2rem 0.8rem 0px #442229;
    box-shadow: 0px -0.2rem 0.8rem 0px #442229;
}

main section:nth-child(2n + 1) {
    background-color: #ee2229;
    background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
}

main section h2 {
    padding-top: 7.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    position: relative;
    padding-bottom: 1.6rem;
    font-size: 2.8rem;
}

main section:nth-child(2n + 1) h2 {
    color: white;
}

main section h2::after {
    content: "";
    display: block;
    width: 5.0rem;
    height: 0.2rem;
    background: #ee2229;
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    bottom: 0;
}

main section:nth-child(2n + 1) h2::after {
    background: white;
}

#welcome section {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    color: white;
    position: fixed;
    height: 100vh;
}

#welcome img {
    width: 10%;
    opacity: 0;
}

#welcome h1 {
    margin-top: 0.8rem;
    font-size: 2.7rem;
    -webkit-transform: translateX(600%);
    transform: translateX(600%);
    -webkit-transition: -webkit-transform 1s ease 0.7s;
    transition: -webkit-transform 1s ease 0.7s;
    transition: transform 1s ease 0.7s;
    transition: transform 1s ease 0.7s, -webkit-transform 1s ease 0.7s;
}

#about-us article {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 16px;
    padding: 0 24px;
    text-align: justify;
    overflow: hidden;
}

#about-us article h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #bb2229;
    margin-bottom: 0.4rem;
}

#about-us article p {
    font-size: 1.25rem;
}

#about-us article img {
    height: 48px;
    display: block;
    margin: 0.8rem auto auto;
}

#slider {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.6rem;
    height: 60vh;
}

#prev-btn,
#next-btn {
    width: 4.8rem;
    background-color: transparent;
    border: 0;
    text-align: center;
    margin: auto 0;
    outline: none;
}

.fa-angle-right,
.fa-angle-left {
    width: 4.8rem;
    height: 100%;
    font-size: 6rem;
    color: white;
}

#event {
    width: 100%;
    border: 0.8rem solid rgba(255, 255, 255, 0.25);
    background: rgb(255, 255, 255);
    background-clip: padding-box;
    overflow: scroll;
}

#event-img {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 1.6rem 1.6rem 0.8rem;
}

#event-info {
    padding: 0.8rem 1.6rem 1.6rem;
}

#event-date {
    font-weight: bold;
    color: #555555;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 0.4rem;
}

#event-name {
    text-align: center;
    color: #bb2229;
    font-weight: bold;
    font-size: 1.5rem;
}

#event-description {
    text-align: justify;
    font-weight: 400;
    font-size: 1.1rem;
}

#europe-map .container {
    height: 60vh;
    margin-top: 1.6rem;
}

#map {
    height: inherit;
}

#map h5 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
}

#map h5::after {
    content: "";
    display: block;
    width: 45%;
    height: 0.2rem;
    background: #ee2229;
    position: absolute;
    bottom: 0.4rem;
}

#contact {
    height: 75vh;
}

#contact > section {
    height: 50vh;
    box-shadow: 0px 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: auto 1.6rem;
}

.person {
    height: 80px;
    color: white;
    display: flex;
    font-size: 1.4rem;
    margin: auto;
}

.personal-data {
    height: 8rem;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person img {
    content: url('http://via.placeholder.com/80x80');
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.4rem solid white;
}

#move-to-top {
    width: 4.8rem;
    height: 4.8rem;
    border: 0.2rem solid #ee2229;
    position: absolute;
    bottom: -7%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 4rem;
    color: #ee2229;
    text-align: center;
    text-shadow: 0 -1.2rem, 0px -2.4rem;
    overflow: hidden;
    background-color: white;
}

.fa-angle-up {
    -webkit-animation: arrowUp 1.8s infinite linear;
    animation: arrowUp 1.8s infinite linear;
}

main footer {
    height: 25vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

footer p {
    color: #ee2229;
    font-size: 1.5rem;
    text-align: center;
}

.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.social-icons li {
    list-style: none;
}

.facebook-icon div {
    color: white;
    background: #ee2229;
    width: 4.8rem;
    height: 4.8rem;
    margin-top: 0.4rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.facebook-icon div i {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.facebook-icon div:hover {
    background-color: #3B5998;
}

/*ANIMATIONS*/

@-webkit-keyframes arrowDown {
    0% {
        -webkit-transform: translateY(-4.8rem);
        transform: translateY(-4.8rem);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(4.8rem);
        transform: translateY(4.8rem);
    }
}

@keyframes arrowDown {
    0% {
        -webkit-transform: translateY(-4.8rem);
        transform: translateY(-4.8rem);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(4.8rem);
        transform: translateY(4.8rem);
    }
}

@-webkit-keyframes arrowUp {
    0% {
        -webkit-transform: translateY(4.8rem);
        transform: translateY(4.8rem);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-4.8rem);
        transform: translateY(-4.8rem);
    }
}

@keyframes arrowUp {
    0% {
        -webkit-transform: translateY(4.8rem);
        transform: translateY(4.8rem);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-4.8rem);
        transform: translateY(-4.8rem);
    }
}

/*MEDIA QUERIES*/

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small devices (landscape phones, 576px and up)
*/

@media (min-width: 576px) {
    html,
    body {
        font-size: 12px;
    }

    main > section {
        height: 576px;
    }

    #welcome {
        height: 100vh;
    }

    #welcome img {
        max-width: 40%;
    }

    #welcome h1 {
        font-size: 2.25rem;
        margin-top: 0.4rem;
    }

    #slider {
        height: 280px;
    }

    #event {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    #event-img {
        width: 40%;
        margin: auto;
    }

    #event-info {
        padding: 1.6rem;
        margin: auto 0;
    }

    #europe-map .container {
        height: 75vh;
    }

    #contact {
        height: 400px;
    }

    #contact > section {
        margin: 0;
        margin-top: 1.2rem;
        height: 200px;
        flex-flow: row;
    }

    .person {
        height: auto;
        flex-flow: column;
        align-items: center;
    }

    .personal-data {
        margin-left: 0;
        text-align: center;
    }

    .person img {
        content: url('http://via.placeholder.com/96x96');
    }

    main footer {
        height: 140px;
    }
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    html,
    body {
        font-size: 16px;
    }

    main section {
        height: 100vh;
    }

    #welcome section img {
        max-width: 50%;
    }

    #welcome section h1 {
        font-size: 2.6rem;
    }

    #about-us article {
        margin-top: 2rem;
        padding: 0 4rem;
    }

    #about-us article h4 {
        font-size: 1.8rem;
    }

    #about-us article p {
        font-size: 1.5rem;
    }

    #about-us article img {
        display: none;
    }

    #slider {
        margin-top: 2rem;
        height: 60vh;
    }

    #event {
        flex-flow: column;
    }

    #event-info {
        padding: 2rem;
    }

    #event-img {
        width: auto;
        height: 60%;
        padding: 2rem;
    }

    #event-date {
        font-size: 1.3rem;
    }

    #event-name {
        font-size: 2rem;
    }

    #event-description {
        font-size: 1.5rem;
    }

    #europe-map .container {
        height: 55vh;
        margin-top: 2rem;
    }

    #contact {
        height: 75vh;
    }

    #contact > section {
        height: 50vh;
    }

    #move-to-top {
        bottom: -5%;
    }

    main footer {
        height: 25vh;
    }
}

/*iPad (landscape)*/

@media (width: 1024px) and (height: 768px) and (orientation: landscape) {
    #about-us article img {
        display: none;
    }

    #slider {
        height: 55vh;
    }

    #event {
        flex-flow: row;
    }

    #event img {
        width: 33%;
        height: auto;
    }

    #europe-map .container {
        height: 55vh;
    }

    #contact > section {
        height: 40vh;
    }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    html,
    body {
        font-size: 14px;
    }

    #welcome section img {
        max-width: 33%;
    }

    #about-us article {
        margin-top: 48px;
        padding: 0 128px;
    }

    #about-us article img {
        height: 80px;
        display: block;
    }

    #slider {
        margin-top: 48px;
        height: 56vh;
    }

    #prev-btn,
    #next-btn {
        width: 8rem;
        cursor: pointer;
    }

    .fa-angle-right,
    .fa-angle-left {
        width: 8rem;
    }

    #event {
        flex-flow: row;
        overflow: auto;
    }

    #event img {
        width: 22rem;
        height: auto;
    }

    #event-info {
        width: 65%;
        padding: 4rem;
    }

    #europe-map .container {
        height: 55vh;
    }

    .person img {
        content: url('http://via.placeholder.com/128x128');
        width: 128px;
        height: 128px;
    }

    main section .arrow,
    #move-to-top {
        cursor: pointer;
        transition: 0.5s;
    }

    main section .arrow:hover {
        color: #ee2228;
        background-color: white;
        border-color: #ee2228;
        box-shadow: 0 0 4px 4px white;
    }

    main section:nth-child(2n) .arrow:hover,
    #move-to-top:hover {
        color: white;
        background-color: #ee2228;
        border-color: white;
        box-shadow: 0 0 4px 4px #ee2228;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}
